<div class="header">
  <div class="search-bar">
    <input type="text" placeholder="Search...">
    <i class="fas fa-search"></i>
  </div>
  <div class="header-links">
    <a href="#" class="notification-link">
      <i class="fas fa-bell"></i>
    </a>
    <a href="#" class="modules-link">
      <i class="fas fa-th"></i> Modules
    </a>
    <img src="https://as2.ftcdn.net/v2/jpg/03/08/52/85/1000_F_308528544_o5HWELamsZFq2aW90kB63XHLZYWW90qo.jpg" alt="User"
      class="user-image">
  </div>
</div>