.charts-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

#circle-chart {
  width: 50%;
}

.column-charts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.column-chart {
  flex: 1;
  width: 100%;
  min-width: calc(50% - 42px);
  max-width: calc(50% - 42px);
}