<div class="charts-container">
  <div id="circle-chart">
    <app-card>
      <apx-chart
        [series]="circleChartOptions.series"
        [chart]="circleChartOptions.chart"
        [legend]="circleChartOptions.legend"
        [stroke]="circleChartOptions.stroke"
      ></apx-chart>
    </app-card>
  </div>
  <div class="column-charts">
    <div class="column-chart">
      <app-card>
        <apx-chart
          [series]="columnChartOptions1.series"
          [chart]="columnChartOptions1.chart"
          [xaxis]="columnChartOptions1.xaxis"
          [plotOptions]="columnChartOptions1.plotOptions"
          [fill]="columnChartOptions1.fill"
          [dataLabels]="columnChartOptions1.dataLabels"
          [theme]="columnChartOptions1.theme"
          [legend]="columnChartOptions1.legend"
          [grid]="columnChartOptions1.grid"
        ></apx-chart>
      </app-card>
    </div>
    <div class="column-chart">
      <app-card>
        <apx-chart
        [series]="columnChartOptions2.series"
        [chart]="columnChartOptions2.chart"
        [xaxis]="columnChartOptions2.xaxis"
        [plotOptions]="columnChartOptions2.plotOptions"
        [fill]="columnChartOptions2.fill"
        [dataLabels]="columnChartOptions2.dataLabels"
        [theme]="columnChartOptions2.theme"
        [legend]="columnChartOptions2.legend"
        [grid]="columnChartOptions2.grid"
        ></apx-chart>
      </app-card>
    </div>
    <div class="column-chart">
      <app-card>
        <apx-chart
        [series]="columnChartOptions3.series"
        [chart]="columnChartOptions3.chart"
        [xaxis]="columnChartOptions3.xaxis"
        [plotOptions]="columnChartOptions3.plotOptions"
        [fill]="columnChartOptions3.fill"
        [dataLabels]="columnChartOptions3.dataLabels"
        [theme]="columnChartOptions3.theme"
        [legend]="columnChartOptions3.legend"
        [grid]="columnChartOptions3.grid"
        ></apx-chart>
      </app-card>
    </div>
    <div class="column-chart">
      <app-card>
        <apx-chart
          [series]="columnChartOptions4.series"
          [chart]="columnChartOptions4.chart"
          [xaxis]="columnChartOptions4.xaxis"
          [plotOptions]="columnChartOptions4.plotOptions"
          [fill]="columnChartOptions4.fill"
          [dataLabels]="columnChartOptions4.dataLabels"
          [theme]="columnChartOptions4.theme"
          [legend]="columnChartOptions4.legend"
          [grid]="columnChartOptions4.grid"
        ></apx-chart>
      </app-card>
    </div>
  </div>
</div>