<nav class="side-menu">
  <div class="logo">
    <img src="https://png.pngtree.com/png-clipart/20220921/ourmid/pngtree-fire-logo-png-image_6209600.png" alt="logo">
  </div>
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active">
        <i class="fas fa-home"></i> Home
      </a>
    </li>
    <li>
      <a routerLink="/realtime" routerLinkActive="active">
        <i class="fas fa-chart-line"></i> Realtime
      </a>
    </li>
    <li>
      <a routerLink="/events" routerLinkActive="active">
        <i class="fas fa-calendar-alt"></i> Events
      </a>
    </li>
    <li>
      <a routerLink="/devices" routerLinkActive="active">
        <i class="fas fa-mobile-alt"></i> Devices
      </a>
    </li>
    <li>
      <a routerLink="/domain" routerLinkActive="active">
        <i class="fas fa-globe"></i> Domain
      </a>
    </li>
    <li>
      <a routerLink="/settings" routerLinkActive="active">
        <i class="fas fa-cog"></i> Settings
      </a>
    </li>
  </ul>
</nav>