<div class="header">
  <div class="search-bar">
    <input type="text" placeholder="Search...">
    <i class="fas fa-search"></i>
  </div>
  <div class="header-links">
    <a href="#" class="notification-link">
      <i class="fas fa-bell"></i>
    </a>
    <a href="#" class="modules-link">
      <i class="fas fa-th"></i> Modules
    </a>
    <img src="path/to/user-image.jpg" alt="User" class="user-image">
  </div>
</div>

<div class="container">
  <app-side-menu></app-side-menu>
  <div class="content" role="main">
    <router-outlet></router-outlet>
  </div>
</div>