<div class="grid">

  <app-card class="width--full grid__box">
    <div id="abcd-site" class="width--full abcd-site wrapper--flex">
      <h2 class="no-margin width--full">
        ABCD Site
        <small class="wrapper--block font-weight--normal">RR1 Area</small>
      </h2>

      <div class="wrapper--flex">

        <div class="active-people">
          <h1 class="no-margin">1,148</h1>
          <h3 class="no-margin">Active People</h3>
        </div>

        <div class="active-devices">
          <h1 class="no-margin">1,148</h1>
          <h3 class="no-margin">Active Devices</h3>
        </div>

      </div>
    </div>
  </app-card>

  <app-live-events></app-live-events>

  <div class="grid__box wrapper--flex flex-col justify-between height--full">
    <app-card class="width--full">
      <h2 class="card__title">
        <span>
          Devices Status Distribution
          <i class="fas fa-arrow-down-long card__status-icon"></i>
        </span>
        <span class="card__info-icon">i</span>
      </h2>

      <!-- Device Distribution -->

    </app-card>

    <app-weather-wizard></app-weather-wizard>
    <app-card class="width--full">

    </app-card>

  </div>

  <!-- Live Workers Trend per Zone -->
  <div id="live-workers" class="grid__box grid--2">
    <app-card class="width--full">
      <h2 class="card__title">
        <span>
          Live Workers Trend per Zone
          <i class="fas fa-arrow-down-long card__status-icon"></i>
        </span>
        <span class="card__info-icon">i</span>
      </h2>

      <!-- Live Workers Chart-->
      <app-live-workers></app-live-workers>
    </app-card>
  </div>

  <!-- People Hazardous Zone / Critical Mission -->
  <div id="people-critical-zone" class="grid__box">
    <app-card class="width--full">
      <h2 class="card__title">
        <span>
          People Hazardous Zone / Critical Mission
        </span>
        <span class="card__info-icon">i</span>
      </h2>

      <!-- List -->

    </app-card>
  </div>


  <!-- People Hazardous Zone / Critical Mission -->
  <div id="detailed-live-events" class="grid__box grid--3 detailed-live-events">
    <app-card class="width--full">

      <div class="top-section">
        <div class="chart-pins">
          <div class="alerts">Alerts</div>
          <div class="info">Info</div>
          <div class="alarms">Alarms</div>
        </div>

        <div>Last updated time 2:23 pm, Sunday </div>
      </div>

      <!-- Charts Area -->

      <app-detailed-charts></app-detailed-charts>

    </app-card>
  </div>
</div>